@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {

}

body {
  font-family: var(--font-work-sans);
  font-size:16px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-oswald);    
}

h1 {
  text-transform: uppercase;
  font-size: 46px;
  padding-bottom: 20px;
  /* font-weight: lighter; */
}